*{padding: 0;margin: 0;}
.pertanyaan{height: 100vh;
           width: 100vw;
           color: rgb(228, 243, 241);
           background-color: rgb(204, 135, 55);
           text-align: center;}
           .iyaa{height: 100vh;
                width: 100vw;
                color: rgb(228, 243, 241);
                background-color: rgb(138, 194, 111);
                text-align: center;}          
                .tidak{height: 100vh;
                        width: 100vw;
                        color: rgb(228, 243, 241);
                        background-color: rgb(172, 69, 51);
                        text-align: center;}          
.Semangat, .Iyaa, .Tidak{
        text-align: center;
        padding-top: 15%;
}
h2{font-size: 72px;margin-bottom: 30px;}
h1{font-size: 80px; margin-bottom: 30px;}
.Semangat a{text-decoration:none;
         background:#eee ;
         padding: 5px;
         margin: 5px 10px;
         border: 3px solid #ddd;
         border: radius 100px;
}
#Tidak{ border-color: rgb(212, 21, 21); }
#Iyaa{border-color: rgb(17, 216, 34);}